<div>
  <h2>artouarzazate</h2>
  <p>
    <i class="material-icons">add</i> MATERIAL ICON <br/>
    <i class="fa fa-camera-retro fa-lg"></i> FONT AWESOME ICON <br/>
    <i class="ion-camera"></i> IONICONS <br/>
  </P>
  <h3 class="animated flash">Hello</h3> <br />
  <p>
    testing (ionicons, fontawesome and materialize)icons, animate.css and materialize.css alpha
  </p>
</div>